{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80,
        "proseWrap": "preserve"
      }
    }
  ]
}
